<h1 class="todo_list_title">Editing Task</h1>
<br></br>
<div class="forms">
    <%= render 'form', todo_item: @todo_item %>
</div>
<div class="links">
    <%= link_to @todo_list do%>
    <i class="fa fa-arrow-left fa-2x"></i>
    <% end %>
</div>