<div class="main_page">
    <h2>To-Do List application</h2>
    <p>"Never leave till tomorrow that which you can do today." - Benjamin Franklin</p>
    <%= link_to '<button type="button" class="btn btn-primary btn-sm">Sign Up</button>'.html_safe, new_user_registration_path, class: "link-color" %>
    <%= link_to '<button type="button" class="btn btn-primary btn-sm">Log In</button>'.html_safe, new_user_session_path, class: "link-color" %>
</div>